body {
  font-family: "Roboto", sans-serif;
}

header {
  position: relative;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 62, 80, 0.8)), to(rgba(44, 62, 80, 0.8))), url("/img/Carosel/img_1.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url("/img/Carosel/img_1.jpg") no-repeat center center/cover;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 70vh;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content h1 {
  font-size: 50px;
  font-weight: 700;
}

.header-content p {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
}

.btn-wrap {
  margin-top: 30px;
}

.btn-wrap .btn-secondary {
  background: #1dd2af;
  border: 0;
  margin-right: 10px;
}

.btn-wrap .h-btn:first-child:hover {
  background: cyan;
  color: darkcyan;
}

.h-btn:focus {
  outline: 0;
}

.header-bar {
  background: #2c3e50;
  color: #fff;
}

.header-bar .form form {
  margin-top: 15px;
}

.header-bar .form form .form-control {
  width: 200px;
}

.header-bar .form form input {
  width: 200px;
  padding: 6px;
  border: 0;
  border-radius: 2px;
}

.header-bar .form form label {
  margin: 0 10px;
  font-size: 13px;
  font-weight: 500;
}

.header-bar .form form button {
  background: #1dd2af;
  color: white;
  padding: 6px 20px;
  border-radius: 2px;
  margin-left: 40px;
}

.header-bar .form form button:hover {
  background: cyan;
  color: darkcyan;
}

nav {
  position: fixed;
}

nav .nav-link {
  color: #5d6e80 !important;
}

nav .active {
  color: #1dd2af !important;
}

nav .nav-link:hover {
  color: #1dd2af !important;
}

nav .navbar-toggler-icon {
  color: #333;
}

nav a.logo {
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  color: #5d6e80;
}

nav a.logo span {
  color: #1dd2af;
}

.special-sec h2 {
  font-size: 25px;
  color: #2c3e50;
  font-weight: 500;
}

.special-sec p {
  font-size: 16px;
  color: #626262;
  margin-top: 10px;
}

.special-sec .row {
  margin-top: 20px;
}

.special-sec .row img {
  width: 100%;
  height: 100px;
}

.special-sec .row p {
  font-size: 15px;
  color: #626262;
  margin-bottom: 0;
}

.special-sec .row span {
  font-size: 13px;
  color: #626262;
  margin-top: 0;
}

.special-sec .row .place-content {
  border-radius: 6px;
  padding: 5px;
  background: #eeeeee;
}

.special-sec .row .place-content:hover {
  border: 3px solid #1dd2af;
  background: #333;
  color: #fff;
  cursor: pointer;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
  padding: 0;
}

.special-sec .row .place-content:hover p,
.special-sec .row .place-content:hover span {
  color: #fff;
}

.holyday-section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 62, 80, 0.8)), to(rgba(44, 62, 80, 0.8))), url("/img/Carosel/img_3.jpg") no-repeat center center/cover;
  background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)), url("/img/Carosel/img_3.jpg") no-repeat center center/cover;
  color: #fff;
}

.holyday-section h2 {
  font-size: 25px;
  font-weight: 500;
}

.holyday-section p {
  font-size: 16px;
  color: #9eafc0;
  font-weight: 400;
}

.holyday-section .holyday-item {
  text-align: center;
}

.holyday-section .holyday-item .bg-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  border: 3px solid #fff;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.holyday-section .holyday-item .bg-items i {
  color: #fff;
  width: 50px;
  height: 50px;
}

.holyday-section .holyday-item .row div:hover {
  cursor: pointer;
  color: #1dd2af;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.holyday-section .holyday-item .row div:hover i {
  color: #1dd2af;
}

.holyday-section .holyday-item .row div:hover .bg-items {
  border-color: #1dd2af;
}

.review-section {
  text-align: center;
  margin: 20px 0;
}

.review-section h2 {
  font-size: 25px;
  font-weight: 500;
}

.review-section p {
  font-size: 16px;
  font-weight: 400;
  color: #626262;
}

.review-section .card {
  margin-top: 20px;
  text-align: left;
  padding: 10px 0;
}

.review-section .card span {
  color: #1dd2af;
  font-size: 18px;
  font-weight: 500;
}

.review-section .card small {
  font-size: 13px;
  font-weight: 500;
}

.review-section .row div > div:hover {
  border-top: 5px solid #1dd2af;
  cursor: pointer;
}

.details-section {
  background: #2c3e50;
  color: #fff;
}

.details-section h3 {
  color: #1dd2af;
  font-size: 25px;
  font-weight: 700;
}

.details-section p {
  font-size: 13px;
  font-weight: 300;
}

.details-section form button {
  background: #1dd2af;
  border: 0;
}

.details-section img {
  width: 30px;
  height: 30px;
  border: 2px solid #fff;
  margin-top: 5px;
}

.details-section .lastest-wrap p {
  margin-left: 10px;
}

.details-section .lastest-wrap p span {
  font-size: 13px;
  font-weight: 300;
  color: #1dd2af;
}

.details-section .tags span {
  font-size: 13px;
  font-weight: 500;
  margin: 2px 0;
}

.details-section .social-img {
  margin-top: 10px;
}

.details-section .social-img i {
  padding: 0 10px;
}

.details-section .social-img i:nth-child(1) {
  padding-left: 0;
}

footer {
  background: #2c3e50;
  color: #fff;
  -webkit-box-shadow: inset 0px 7px 8px -10px #ccc;
          box-shadow: inset 0px 7px 8px -10px #ccc;
}

footer p {
  margin: auto 0;
  font-size: 13px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;
  }
  header .header-content h1 {
    font-size: 35px;
  }
  header .header-content p {
    font-size: 15px;
  }
  header .header-bar {
    background: #2c3e50;
    color: #fff;
  }
  header .header-bar .form form {
    text-align: left;
    margin-top: 15px;
  }
  header .header-bar .form form input {
    width: 100%;
  }
  header .header-bar .form form label {
    margin: 0;
  }
  header .header-bar .form form button {
    background: #1dd2af;
    color: white;
    padding: 6px 20px;
    border-radius: 2px;
    width: 100%;
    margin: 20px 0;
  }
  .special-sec h2 {
    font-size: 25px;
    color: #2c3e50;
    font-weight: 500;
  }
  .special-sec p {
    font-size: 16px;
    color: #626262;
    margin-top: 10px;
  }
  .special-sec .row {
    margin-top: 20px;
  }
  .special-sec .row img {
    width: 100%;
    height: auto;
  }
  .special-sec .row .holi-place {
    margin: 20px 0;
  }
  .details-section {
    text-align: center;
  }
  .details-section {
    margin-top: 10px;
  }
  .details-section div {
    margin: 15px 0;
  }
  .details-section .lastest-wrap {
    width: 100%;
    text-align: left;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 990px) {
  header .header-bar {
    background: #2c3e50;
    color: #fff;
  }
  header .header-bar .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-bar .form form {
    text-align: left;
    margin-top: 15px;
  }
  header .header-bar .form form input {
    width: 100%;
  }
  header .header-bar .form form label {
    margin: 0;
  }
  header .header-bar .form form button {
    background: #1dd2af;
    color: white;
    padding: 6px 20px;
    border-radius: 2px;
    width: auto;
    width: 100%;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 798px) {
  .special-sec h2 {
    font-size: 25px;
    color: #2c3e50;
    font-weight: 500;
  }
  .special-sec p {
    font-size: 16px;
    color: #626262;
    margin-top: 10px;
  }
  .special-sec .row {
    margin-top: 20px;
  }
  .special-sec .row img {
    width: 100%;
    height: auto;
  }
  .special-sec .row .holi-place {
    margin: 20px 0;
  }
}
/*# sourceMappingURL=style.css.map */