@import "v";

body {
  font-family: "Roboto", sans-serif;
}

// HEADER SECTION //
header {
  position: relative;
  background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)),
    url("/img/Carosel/img_1.jpg") no-repeat center center/cover;
}

.header-content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  color: #fff;
  align-items: center;
  justify-content: center;
}

.header-content {
  h1 {
    font-size: 50px;
    font-weight: 700;
  }
  p {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
  }
}

.btn-wrap {
  margin-top: 30px;
  .btn-secondary {
    background: $bg-secondary;
    border: 0;
    margin-right: 10px;
  }
  .h-btn:first-child:hover {
    background: cyan;
    color: darkcyan;
  }
}
.h-btn:focus {
  outline: 0;
}

//header bar
.header-bar {
  background: $bg-primary;
  color: #fff;
  .form {
    form {
      margin-top: 15px;
      .form-control {
        width: 200px;
      }
      input {
        width: 200px;
        padding: 6px;
        border: 0;
        border-radius: 2px;
      }
      label {
        margin: 0 10px;
        font-size: 13px;
        font-weight: 500;
      }
      button {
        background: $bg-secondary;
        color: white;
        padding: 6px 20px;
        border-radius: 2px;
        margin-left: 40px;
      }
      button:hover {
        background: cyan;
        color: darkcyan;
      }
    }
  }
}
// navbar
nav {
  position: fixed;
  .nav-link {
    color: $text-secondary !important;
  }
  .active {
    color: $bg-secondary !important;
  }
  .nav-link:hover {
    color: $bg-secondary !important;
  }
  .navbar-toggler-icon {
    color: #333;
  }
  a.logo {
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: $text-secondary;
    span {
      color: $bg-secondary;
    }
  }
}
// HEADER SECTION //

// SPECIAL  SECTION //
.special-sec {
  h2 {
    font-size: 25px;
    color: $bg-primary;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    color: #626262;
    margin-top: 10px;
  }

  .row {
    margin-top: 20px;
    img {
      width: 100%;
      height: 100px;
    }

    p {
      font-size: 15px;
      color: #626262;
      margin-bottom: 0;
    }
    span {
      font-size: 13px;
      color: #626262;
      margin-top: 0;
    }

    .place-content {
      border-radius: 6px;
      padding: 5px;
      background: #eeeeee;
    }
    .place-content:hover {
      border: 3px solid $bg-secondary;
      background: #333;
      color: #fff;
      cursor: pointer;
      transition: height 1s ease;
      padding: 0;
      p,
      span {
        color: #fff;
      }
    }
  }
}
// special section

//holyday section
.holyday-section {
  background: linear-gradient(rgba(44, 62, 80, 0.8), rgba(44, 62, 80, 0.8)),
    url("/img/Carosel/img_3.jpg") no-repeat center center/cover;
  color: #fff;

  h2 {
    font-size: 25px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    color: #9eafc0;
    font-weight: 400;
  }

  .holyday-item {
    text-align: center;

    .bg-items {
      display: flex;
      background: none;
      border: 3px solid #fff;
      height: 130px;
      width: 130px;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      margin: 20px auto;

      i {
        color: #fff;

        width: 50px;
        height: 50px;
      }
    }

    .row div:hover {
      cursor: pointer;
      color: $bg-secondary;
      transition: 0.7s ease;

      i {
        color: $bg-secondary;
      }

      .bg-items {
        border-color: $bg-secondary;
      }
    }
  }
}
//holyday section

//review section
.review-section {
  text-align: center;
  margin: 20px 0;
  h2 {
    font-size: 25px;
    font-weight: 500;
  }
  p {
    font-size: 16px;
    font-weight: 400;
    color: #626262;
  }

  .card {
    margin-top: 20px;
    text-align: left;
    padding: 10px 0;
    span {
      color: $bg-secondary;
      font-size: 18px;
      font-weight: 500;
    }

    small {
      font-size: 13px;
      font-weight: 500;
    }
  }

  .row div > div:hover {
    border-top: 5px solid $bg-secondary;
    cursor: pointer;
  }
}

//review section

//details section
.details-section {
  background: $bg-primary;
  color: #fff;
  h3 {
    color: $bg-secondary;
    font-size: 25px;
    font-weight: 700;
  }
  p {
    font-size: 13px;
    font-weight: 300;
  }
  form {
    button {
      background: $bg-secondary;
      border: 0;
    }
  }

  img {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    margin-top: 5px;
  }
  .lastest-wrap p {
    margin-left: 10px;

    span {
      font-size: 13px;
      font-weight: 300;
      color: $bg-secondary;
    }
  }
  .tags {
    span {
      font-size: 13px;
      font-weight: 500;
      margin: 2px 0;
    }
  }
  .social-img {
    margin-top: 10px;
    i {
      padding: 0 10px;
    }
    i:nth-child(1) {
      padding-left: 0;
    }
  }
}
//detais section

//footer
footer {
  background: $bg-primary;
  color: #fff;
  // border-top: 1px solid #eeeeee;

  box-shadow: inset 0px 7px 8px -10px #ccc;
  p {
    margin: auto 0;
    font-size: 13px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  header {
    text-align: center;

    .header-content {
      h1 {
        font-size: 35px;
      }
      p {
        font-size: 15px;
      }
    }
    .header-bar {
      background: $bg-primary;
      color: #fff;
      .form {
        form {
          text-align: left;
          margin-top: 15px;

          input {
            width: 100%;
          }
          label {
            margin: 0;
          }
          button {
            background: $bg-secondary;
            color: white;
            padding: 6px 20px;
            border-radius: 2px;
            width: 100%;
            margin: 20px 0;
          }
        }
      }
    }
  }

  .special-sec {
    h2 {
      font-size: 25px;
      color: $bg-primary;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      color: #626262;
      margin-top: 10px;
    }

    .row {
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
      .holi-place {
        margin: 20px 0;
      }
    }
  }

  .details-section {
    text-align: center;
  }

  .details-section {
    margin-top: 10px;
    div {
      margin: 15px 0;
    }
    .lastest-wrap {
      width: 100%;
      text-align: left;
      justify-content: center;
    }
  }
}
@media only screen and (max-width: 990px) {
  header {
    .header-bar {
      background: $bg-primary;
      color: #fff;
      .row {
        display: flex;
      }
      .form {
        form {
          text-align: left;
          margin-top: 15px;

          input {
            width: 100%;
          }
          label {
            margin: 0;
          }
          button {
            background: $bg-secondary;
            color: white;
            padding: 6px 20px;
            border-radius: 2px;
            width: auto;
            width: 100%;
            margin: 20px auto;
          }
        }
      }
    }

  }


}
@media only screen and (max-width: 798px){
  .special-sec {
    h2 {
      font-size: 25px;
      color: $bg-primary;
      font-weight: 500;
    }

    p {
      font-size: 16px;
      color: #626262;
      margin-top: 10px;
    }

    .row {
      margin-top: 20px;
      img {
        width: 100%;
        height: auto;
      }
      .holi-place {
        margin: 20px 0;
      }
    }
  }
}

